:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dfe1e6;
  border-radius: 5px;
  background-color: #fff;
  color: #1d1d1d;
  cursor: pointer;
  max-width: 500px;
  max-height: 100px;
  padding: 10px;
  height: 30px;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.16);

  &:hover {
    transition: 0.3s;
    background-color: #e4e4e4;
  }
}

:host([state=selected]) {
  background-color: #80b0ff;

  &:hover {
    background-color: #2da1fa;
  }
}

:host([state=checked]) {
  background-color: rgba(117, 255, 145, 0.3);
  border-color: rgba(117, 255, 145, 0.3);
}

.points {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  border: 1px solid #dfe1e6;
  font-size: 12px;
  background-color: #fff;
  color: #1d1d1d;
}
